@using Microsoft.AspNet.Identity
@if (Session["User"]!=null)
{
    using (Html.BeginForm("Logout", "Users", FormMethod.Post, new { id = "logout", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
        </li>
        <li><a href="javascript:document.getElementById('logout').submit()">@Html.Label(((Mnasat.Models.Usr)Session["user"]).Username) [Logout]</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
