@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mnasat Development</h1>
    <p class="lead">Project by Mohamed Hydaq.</p>
</div>

<div class="row">
    <div class="col-md-4">
        Let's move forward
    </div>
</div>